services:
  db:
    image: postgres:15-alpine
    container_name: vet-clinic-db
    environment:
      - POSTGRES_DB=veterinary_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: